{% extends "base.html" %}
{% block title %}Álbuns{% endblock %}
{% block content %}
    <h3>Lista de Álbuns</h3>
    <ul class="list-group">
        {% for a in albuns %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {% if a.capa %}
                        <img
                            src="{{ a.capa.url }}"
                            alt="{{ a.nome }}"
                            width="60"
                            height="60"
                            class="me-2 rounded"
                        />
                    {% else %}
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/3/3c/No-album-art.png"
                            alt="Imagem indisponível"
                            width="60"
                            height="60"
                            class="me-2 rounded"
                        />
                    {% endif %}
                    <span>
                        {{ a.nome }} ({{a.artista.nome}}, {{ a.ano_lancamento }}) 
                    </span>
                </div>
                <span>
                    <a href="{% url 'album_detail' a.pk %}" class="btn btn-outline-dark">Ver Mais</a>
                    <a href="{% url 'album_edit' a.pk %}" class="btn btn-outline-dark">Editar</a>
                    <a href="{% url 'album_delete' a.pk %}" class="btn btn-outline-dark">Eliminar</a>
                </span>
            </li>
        {% empty %}
            <li>Não existem álbuns.</li>
        {% endfor %}
    </ul>
{% endblock %}