{% extends "base.html" %}
{% block title %}Artistas{% endblock %}
{% block content %}
    <h3>Lista de Artistas</h3>
    <div class="mb-4">
        <input type="text" 
               name="q" 
               class="form-control" 
               placeholder="Comece a escrever para pesquisar..."
               hx-get="{% url 'artista_list' %}" 
               hx-trigger="keyup changed delay:10ms, search" 
               hx-target="#lista-artistas" 
               hx-select="#lista-artistas"
               hx-swap="outerHTML">
    </div>
    <ul class="list-group" id="lista-artistas">
        {% for a in artistas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {% if a.foto %}
                        <img
                            src="{{ a.foto.url }}"
                            alt="{{ a.nome }}"
                            width="60"
                            height="60"
                            class="me-2 rounded"
                        />
                    {% else %}
                        <img
                            src="https://i.pinimg.com/736x/9e/83/75/9e837528f01cf3f42119c5aeeed1b336.jpg"
                            alt="Foto indisponível"
                            width="60"
                            height="60"
                            class="me-2 rounded"
                        />
                    {% endif %}
                    <span>
                        {{ a.nome }} 
                    </span>
                </div>
                <span>
                    <a href="{% url 'artista_detail' a.pk %}" class="btn btn-outline-dark">Ver Mais</a>
                    <a href="{% url 'artista_edit' a.pk %}" class="btn btn-outline-dark">Editar</a>
                    <a href="{% url 'artista_delete' a.pk %}" class="btn btn-outline-dark">Eliminar</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Não foram encontrados artistas.</li>
        {% endfor %}
    </ul>
{% endblock %}