{% extends "base.html" %}
{% block title %}{{ artista.nome }}{% endblock %}
{% block content %}
    <h2>{{ artista.nome }}</h2>
    <div class="d-flex align-items-center">
        {% if artista.foto %}
            <img
                src="{{ artista.foto.url }}"
                alt="{{ artista.nome }}"
                width="240"
                height="240"
                class="me-2 rounded"
            />
        {% else %}
            <img
                src="https://i.pinimg.com/736x/9e/83/75/9e837528f01cf3f42119c5aeeed1b336.jpg"
                alt="Foto indisponível"
                width="240"
                height="240"
                class="me-2 rounded"
            />
        {% endif %}
    </div>
    <br>
    {% if artista.biografia %}
        <p><b>Biografia: </b>{{ artista.biografia }}</p>
    {% else %}
        <p><b>Biografia: </b>Não disponível</p>
    {% endif %}
    <h4>Músicas deste Artista:</h4>
    <ul>
        {% for m in musicas %}
            <li><a class="link-fade" href="{% url 'musicaestatistica_detail' m.pk %}">{{ m.nome }}</a> ({{ m.get_duracao_formatada }})</li>
        {% empty %}
            <li>Este artista não tem músicas.</li>
        {% endfor %}
    </ul>
    <h4>Álbuns deste Artista:</h4>
    <ul>
        {% for a in albuns %}
            <li><a class="link-fade" href="{% url 'album_detail' a.pk %}">{{ a.nome }}</a> ({{ a.ano_lancamento }})</li>
        {% empty %}
            <li>Este artista não tem álbuns.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'artista_list' %}" class="btn btn-outline-secondary">Voltar</a>
{% endblock %}