{% extends "base.html" %}
{% block title %}Músicas{% endblock %}
{% block content %}
    <h3>Lista de Músicas</h3>
    <div class="mb-4">
        <input type="text" 
               name="q" 
               class="form-control" 
               placeholder="Comece a escrever para pesquisar..."
               hx-get="{% url 'musicaestatistica_list' %}" 
               hx-trigger="keyup changed delay:10ms, search" 
               hx-target="#lista-musicas" 
               hx-select="#lista-musicas"
               hx-swap="outerHTML">
    </div>
    <ul class="list-group" id="lista-musicas"> 
        {% for m in musicas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ m.nome }} ({{ m.artistas.all|join:", " }})
                </span>
                <span>
                    <a href="{% url 'musicaestatistica_detail' m.pk %}" class="btn btn-outline-dark">Ver Mais</a>
                    <a href="{% url 'musicaestatistica_edit' m.pk %}" class="btn btn-outline-dark">Editar</a>
                    <a href="{% url 'musicaestatistica_delete' m.pk %}" class="btn btn-outline-dark">Eliminar</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Não foram encontradas músicas.</li>
        {% endfor %}
    </ul>
{% endblock %}