{% extends "base.html" %}
{% block title %}{{ musicaestatistica.nome }}{% endblock %}
{% block content %}
    <h2>{{ musicaestatistica.nome }}</h2>
    <p>Nome: {{ musicaestatistica.nome }}<br>Duração: {{ musicaestatistica.get_duracao_formatada }}<br>Gostos: {{ musicaestatistica.estatistica_gostos }}<br>Visualizações: {{ musicaestatistica.estatistica_visualizacoes }}</p> <!-- ADICIONAR ARTISTAS COM FOR -->
    <h3>Artistas desta Música:</h3>
    <ul>
        {% for a in musicaestatistica.artistas.all %}
            <li><a class="link-fade" href="{% url 'artista_detail' a.pk %}">{{ a.nome }}</a></li>
        {% empty %}
            <li>Não existem artistas.</li>
        {% endfor %}
    </ul>
    <iframe data-testid="embed-iframe" style="border-radius:12px" src="{{musicaestatistica.get_embed_url}}" width="40%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <br>
    <a href="{% url 'musicaestatistica_list' %}" class="btn btn-outline-secondary">Voltar</a>
{% endblock %}
