{% extends "base.html" %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h3>Lista de Playlists</h3>
    <ul class="list-group">
        {% for p in playlists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ p.nome }} ({{ p.data_criacao }})
                </span>
                <span>
                    <a href="{% url 'playlist_detail' p.pk %}" class="btn btn-outline-dark">Ver Mais</a>
                    <a href="{% url 'playlist_edit' p.pk %}" class="btn btn-outline-dark">Editar Detalhes</a>
                    <a href="{% url 'playlist_modify' p.pk %}" class="btn btn-outline-dark">Modificar</a>
                    <a href="{% url 'playlist_delete' p.pk %}" class="btn btn-outline-dark">Eliminar</a>
                </span>
            </li>
        {% empty %}
            <li>Não existem playlists!</li>
        {% endfor %}
    </ul>
{% endblock %}