{% extends "base.html" %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h3>Lista de Playlists</h3>
    <div class="mb-4">
        <input type="text" 
               name="q" 
               class="form-control" 
               placeholder="Comece a escrever para pesquisar..."
               hx-get="{% url 'playlist_list' %}" 
               hx-trigger="keyup changed delay:10ms, search" 
               hx-target="#lista-playlists" 
               hx-select="#lista-playlists"
               hx-swap="outerHTML">
    </div>
    <ul class="list-group" id="lista-playlists">
        {% for p in playlists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ p.nome }} ({{ p.data_criacao }})
                </span>
                <span>
                    <a href="{% url 'playlist_detail' p.pk %}" class="btn btn-outline-dark">Ver Mais</a>
                    <a href="{% url 'playlist_edit' p.pk %}" class="btn btn-outline-dark">Editar Detalhes</a>
                    <a href="{% url 'playlist_modify' p.pk %}" class="btn btn-outline-dark">Modificar</a>
                    <a href="{% url 'playlist_delete' p.pk %}" class="btn btn-outline-dark">Eliminar</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Não foram encontradas playlists.</li>
        {% endfor %}
    </ul>
{% endblock %}