{% extends "base.html" %}
{% block title %}{{ playlist.nome }}{% endblock %}
{% block content %}
    <h2>{{ playlist.nome }}</h2>
    <p>Nome: {{ playlist.nome }}<br>Data de Criação: {{ playlist.data_criacao }}<br>Visibilidade: {{ playlist.get_privacidade }}</p>
    <h3>Músicas desta Playlist:</h3>
    <ul>
        {% for m in musicas %}
            <li><a class="link-fade" href="{% url 'musicaestatistica_detail' m.pk %}">{{ m.nome }}</a> - {{ m.artistas.all|join:", " }}</li> <!-- pega nos nomes dos artistas e junta-os, separados por vírgulas -->
        {% empty %}
            <li>Esta playlist não tem músicas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'playlist_list' %}" class="btn btn-outline-secondary">Voltar</a>
{% endblock %}