body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background: #E0DEDE;
    background: linear-gradient(90deg,rgba(224, 222, 222, 1) 0%, rgba(245, 243, 240, 1) 50%, rgba(224, 222, 222, 1) 100%);
}
header h1 a { text-decoration: none; color: #333; }
h2 { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; text-decoration: none; color: #333;}
nav a { margin-right: 8px; }